<% provide(:title, "Home") %>
  <nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      
      <a class="navbar-brand" href="#">
          <button type="button" class="btn btn-default btn-lg">
            <span class="glyphicon glyphicon-heart-empty" aria-hidden="true"></span> Turista
          </button>
      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
       
        <li><%= link_to "Hrana", travel_path %> </li>
        <li><%= link_to "Znamenitosti", whattoseeanddo_path %></li>
        <li><%= link_to "Znimljivosti", wheretogo_path %></li>
        <li><%= link_to "Odsedanje", wheretostay_path %></li>
      </ul>
    </div><!-- /.navbar-collapse -->

  </div><!-- /.container-fluid -->
  </nav>

  <div class="flexslider">
    <ul>
      <li>
      <%= link_to image_tag("rails.png", alt: "Rails logo"),
              'http://rubyonrails.org' %>
      </li>
      <li>
      <%= link_to image_tag("rails.png", alt: "Rails logo"),
              'http://rubyonrails.org' %>
      </li>
      <li>
      <%= link_to image_tag("rails.png", alt: "Rails logo"),
              'http://rubyonrails.org' %>
      </li>
    </ul>
  </div>

  <h1>News feed</h1>
  <p><%= link_to "Create new article", new_article_path %></p>
    <% @articles.each do |article| %>
    <h3><%= article.title %></h3>
    <p><%= article.description %></p>
    <p><%= link_to "Edit", edit_article_path(article) %></p>
    <p><%= link_to "Show", article_path(article) %></p>
  <% end %>
 
 